In [73]:
##############################################################################
# Author: M.Mark, P.RVC 21, DB Regio AG
# Datum: 12.05.2021
# Licence: "THE BEER-WARE LICENSE" 
# As long as you retain this notice you can do whatever you want with this stuff. 
# If we meet some day, and you think this stuff is worth it, 
# you can buy me a beer in return
###############################################################################

import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import glob

In [74]:
# Alle Quellen aus dem Verzeichnis auflisten ...
PATH = ".\source_data\*.xlsx"
file_list = glob.glob(PATH)
for index in range(len(file_list)):
    print(file_list[index])

.\source_data\data_A.xlsx
.\source_data\data_B.xlsx
.\source_data\data_C.xlsx
.\source_data\data_D.xlsx
.\source_data\new_file.xlsx

In [75]:
# Die Spalten auslesen
index = 0
col_list = []
df = pd.read_excel(str(file_list[index]), sheet_name=0)
for col in df.columns:
    col_list.append(col)
col_list

['A', 'B', 'C', 'D']

In [76]:
# (Optional) Einen neuen Data-Frame erzeugen
df_new=pd.DataFrame()
new_df = pd.DataFrame(df_new, 
    columns = ['A','B','C','D'])
new_df

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [77]:
# (Optional) Hier einen Wert aus einer Spalte lesen
value = df_A.iloc[1]['A']
value

0.2927807292840864

In [78]:
# (Optional) Hier eine ganze Spalte lesen
df_A = pd.read_excel(str(file_list[0]), sheet_name=0)
df_A['A']

0    0.734276
1    0.292781
2    0.378065
3    0.255709
Name: A, dtype: float64

In [79]:
# Bef√ºllen des neuen Data Frame mit den Spalten A,B,C,D der Quellen-Tabellen 
df_final = pd.DataFrame()
for index in range(len(file_list)-1):
    df = pd.read_excel(str(file_list[index]), sheet_name=0)
    df_final[col_list[index]] = df[col_list[index]]
df_final

          A         B         C         D
0  0.734276  0.221637  0.264032  0.299956
1  0.292781  0.989955  0.384947  0.617870
2  0.378065  0.243794  0.395443  0.739609
3  0.255709  0.797506  0.041567  0.979082

In [80]:
# (Optional) Hier einen Wert in eine Zelle schreiben
df_A.iloc[1]['A'] = 0.0
df_A['A']

0    0.734276
1    0.000000
2    0.378065
3    0.255709
Name: A, dtype: float64

In [81]:
# Ein neues Excel File erzeugen 
NEW_FILE_PATH = '.\\sink_data\\final_data.xlsx'
writer = pd.ExcelWriter(NEW_FILE_PATH, engine='xlsxwriter')
writer.save()

# Den finalen Data Frame in das Excel File speichern
writer = pd.ExcelWriter(NEW_FILE_PATH, engine='xlsxwriter')
df_final.to_excel(writer, sheet_name='Sheet1', index=False)
writer.close()

In [82]:
# Inhalt der dinalen Excel Tabel anzeigen
final_file_df = pd.read_excel(NEW_FILE_PATH, sheet_name=0)
final_file_df

          A         B         C         D
0  0.734276  0.221637  0.264032  0.299956
1  0.292781  0.989955  0.384947  0.617870
2  0.378065  0.243794  0.395443  0.739609
3  0.255709  0.797506  0.041567  0.979082